<div class="author">
    <h1 class="author-heading">Hi there</h1>
    <p class="author-body">WebDeveloper and Content Creator</p> 
</div>

<img src="/img/hero-image.webp" alt="person looking out of the window" class="hero-image" width="981" height="528">

<section class="articles">
    <h2 class="articles-heading">Latest Posts</h2>
    <ul class="article-ul">
        <li>
            <a href="">
                <span>Post title</span>
                <span class="article-list-date">Date</span>
            </a>
        </li>
    </ul>

    <a href="#" class="pagination">&lt; View older posts</a>

</section>